.rev{
    height: 84rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2%;
    background-color:antiquewhite;
}
.all-rev{

    height: 75rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2%;
 

}
.single-rev{

    height: 27%;
    width: 60%;

}
.rv-img{
    width: 100%;
    height: 100%;
}

.m-rev{
    height: 10rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #7f6000;
    color: white;

}
